@import '../../assets/style/init';

.container {
	padding: 10px;
	margin: 20px 0;
	background: lighten($color: $bgColor, $amount: 1);

	.heading {
		padding: 5px 10px;
		font-size: 2rem;

		a {
			text-decoration: none;
			color: inherit;
			width: fit-content;

			&:hover {
				color: $primaryColor;
			}
		}
	}

	.child {
		margin: 10px 0;
	}
}
