@import '../../assets/style/init';

.skillsContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	gap: 20px 13px;
	justify-items: stretch;
	align-items: stretch;
}


.skill {
	div:first-child {
		display: flex;

		.logo {
			position: relative;
			height: 40px;
			width: 40px;
			min-width: 40px;
			margin-right: 10px;

			.icon {
				height: 100%;
				width: 100%;
				display: block;
				border-radius: 50%;
			}

			span {
				position: absolute;
				display: block;
				background-color: #a8a8a8;
				height: 8px;
				width: 8px;
				border-radius: 50%;
				right: -2px;
				bottom: -2px;


			}

			.active {
				background-color: #31a24c;
			}
		}

		div {
			width: 100%;

			.title {
				font-size: 1.4rem;
				padding-bottom: 7px;

				a {
					text-decoration: none;
					color: inherit;
					width: fit-content;

					&:hover {
						color: $primaryColor;
					}
				}
			}

			.progressBar {
				background-color: #000;
				border-radius: 5px;
				width: 100%;
				padding: 1px;
			}

			.progressBar>div {
				background-color: $primaryColor;
				height: 4px;
				border-radius: 10px;
			}
		}
	}

	.description {
		font-size: 1.1rem;
		opacity: 0.5;
		padding: 7px;
	}
}

@media only screen and (max-width: 490px) {
	.skillsContainer {
		grid-template-columns: 1fr 1fr;

		.skill {
			div:first-child {
				div {
					.title {
						font-size: 1.2rem;
					}
				}
			}

			.description {
				display: none;
			}
		}
	}
}

@media only screen and (max-width: 340px) {
	.skillsContainer {
		display: inline;

		.skill {
			margin: 20px 5px;


		}
	}
}
